# Reactive

github "killev/Bond" "master"
github "Thomvis/BrightFutures"

# Networking
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "tristanhimmelman/AlamofireObjectMapper" 
github "Alamofire/AlamofireNetworkActivityIndicator"

# Context and DI
# github "Swinject/Swinject-CodeGeneration"

github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"

#Data
github "realm/realm-cocoa"
